<div class="row">
  <div class="span6 well">
    <p>
      <%= comment.body %>
    </p>
    <p class="post-details">
      comment made
      <% if comment.creator %>
        <%= "by #{comment.creator.username} " %>
      <% end %>
      <%= "on #{short_date(comment.updated_at)}" %>
    </p>
  </div>
</div>
